<% if golf_course.errors.any? %>
  <div id="error_explanation">
    <h4><%= pluralize(golf_course.errors.count, 'error') %>
    prohibited this golf course from being saved:</h4>

    <ul>
      <% golf_course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for golf_course do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :holes %>
  <%= f.number_field :holes, value: 18 %><br>

  <%= f.label :total_par %>
  <%= f.number_field :total_par %><br>

  <%= f.label :course_rating %>
  <%= f.number_field :course_rating, class: :text_field, :step => 0.1 %><br>

  <%= f.label :course_slope %>
  <%= f.number_field :course_slope %><br><br>

  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |tag| %>
    <%= tag.label(class:"label-checkbox") {tag.check_box + tag.text } %>
  <% end %><br>

  <%= f.fields_for :tags, golf_course.tags.build do |tag_builder| %>
    <%= tag_builder.label 'Add Tag' %>
    <%= tag_builder.text_field :name %>
  <% end %><br>

  <%= f.fields_for :tags, golf_course.tags.build do |tag_builder| %>
    <%= tag_builder.label 'Add Tag' %>
    <%= tag_builder.text_field :name %>
  <% end %><br><br>

  <%= f.fields_for :golf_course_comments, golf_course.golf_course_comments.build do |comment_builder| %>
    <%= comment_builder.hidden_field :golfer_id, value: current_golfer.id %>
    <%= comment_builder.label 'Add Comment' %>
    <%= comment_builder.text_area :content %>
  <% end %><br>

  <p><strong> Description:</strong></p>
  <%= f.text_area :description, { rows: 5, cols: 60} %>

  <br><br>
  <%= f.submit %>
<% end %>
