<% if golf_course_comment.errors.any? %>
  <br>
  <div id="error_explanation">
    <h4><%= pluralize(golf_course_comment.errors.count, 'error') %>
    prohibited this golf course from being saved:</h4>

    <ul>
      <% golf_course_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if params[:action] == "edit" %>
  <br>
  <h4>Update Comment</h4>
<% end %>

<%= form_for([golf_course, golf_course_comment], html: {class: "gc-post-comment", "data-id" => golf_course.id }) do |f| %>
  <%= f.text_area :content %><br>
  <%= f.hidden_field :golfer_id, value: current_golfer.id %>
  <%= f.hidden_field :golf_course_id, value: golf_course.id %>
  <%= f.submit "Post Comment for #{golf_course.name}",
  id: "post-comment", class: "btn-primary post-comment", data: { disable_with: false } %>
<% end %>

<div id="comment-error"></div>
