<%= form_for([golf_course, golf_course_comment], html: {class: "post-comment" }) do |f| %>
  <h5>Add Comment</h5>
  <%= f.text_area :content %><br>
  <%= f.hidden_field :golfer_id, value: current_golfer.id %>
  <%= f.hidden_field :golf_course_id, value: golf_course.id %>
  <%= f.submit "Post Comment for #{golf_course.name}", class: "btn-primary" %>
<% end %>

<p id="duplicate-comment"></p>
