<%= form_for([current_golfer, round], html: {class: "gc-post-round", "data-id" => golf_course.id }) do |f| %>
  <%= f.label :score %>
  <%= f.number_field :score %>
  <%= f.hidden_field :golfer_id, value: current_golfer.id %>
  <%= f.hidden_field :golf_course_id, value: golf_course.id %>
  <%= f.submit "Post new Round at #{golf_course.name}",
  class: "btn-primary post-round", id: "post-round", data: { disable_with: false } %>
<% end %>

<div id="roundBlank"></div><br>
