<p id="notice"><%= notice %></p>
<h1>Golf Courses</h1>

<table style='width: 60%'>
  <thead>
    <tr>
      <th align="left"><strong>Golf Course</strong></th>
      <th align="center"><strong>Holes</strong></th>
      <th align="center"><strong>Total Par</strong></th>
      <th align="center"><strong><%= current_golfer.name %>'s Course Handicap</strong></th>
    </tr>
  </thead>
  <tbody>
    <% @golf_courses.each do |golf_course| %>
      <tr>
        <td><%= link_to golf_course.name, golf_course_path(golf_course) %></td>
        <td align="center"><%= golf_course.holes %></td>
        <td align="center"><%= golf_course.total_par %></td>
        <td align="center"><%= current_golfer.course_handicap(golf_course).round(1) if current_golfer.golfer_index %></td>
      </tr>
    <% end %>
  </tbody>
</table><br>

<%= button_to 'Create New Golf Course', new_golf_course_path, method: 'get' %>
