<p id="notice"><%= notice %></p>
<h1><%= @golf_course.name %></h1>
<hr>

<% if current_golfer.golfer_index %>
  <h4>Your Course Handicap, <%= current_golfer.name %>: <%= current_golfer.course_handicap(@golf_course).round(1) %></h4><br>
<% end %>

<%= render partial: 'golf_course_round', locals: { round: @round, golf_course: @golf_course } %>
<hr>

<div class="course description">
  <h4>Course Description:</h4>
  <p><%= @golf_course.description %></p>
</div><br>


  <div class='tags-list'>
    <ul>
      <% if @golf_course.tags.present? %>
        <% @golf_course.tags.each do |tag|%>
          <li><%= tag.name %></li>
        <% end %>
      <% end %>
    </ul>
  </div><br>


<div class="course-details">
  <h4>Course Details:</h4>

  <p>Holes: <%= @golf_course.holes %></p>
  <p>Total Par: <%= @golf_course.total_par %></p>
  <p>Course Slope: <%= @golf_course.course_slope %></p>
  <p>Course rating: <%= @golf_course.course_rating %></p>
  <% if @golf_course.rounds.present? %>
    <p>Low Score: <%= @golf_course.course_lowest_round.score %> by <%= @golf_course.course_lowest_round.golfer.name %></p>
  <% end %>
</div><hr><br>
<%= render partial: 'golf_course_comment', locals: { golf_course_comment: @golf_course_comment, golf_course: @golf_course } %>

<div id="golf-course-comments-<%= @golf_course.id %>"class="golf-course-comments">
  <h4>Comments</h4>
    <% if @golf_course.golf_course_comments.present? %>
      <% @golf_course.golf_course_comments.each do |comment| %>
        <div class="golf-course-comment">
          <h7><b><%= comment.golfer.name %></b>  -  <%= comment.created_at_simple %></h7>
          <span class="gc-comment-destroy"><a href='/golf_courses/<%= @golf_course.id %>/golf_course_comments/<%= comment.id %>' data-method="delete">X</a></span><br>
          <p><%= comment.content %></p>
        </div>
      <% end %>
    <% end %>

</div><hr><br>

<div class="buttons-gc-show">
  <ul>
    <li><button class="btn-info show-rounds" data-id="<%= @golf_course.id %>">Show all Rounds</button></li>
    <li><%= button_to('Edit Golf Course', edit_golf_course_path, class: "btn-warning gc-show", method: 'get') %></li>
    <li><%= button_to('Delete Golf Course', golf_course_path(@golf_course), class:"btn-danger gc-show", method: 'delete') if current_golfer.id == 1 %></li>
  </ul>
</div><br>

<div id="all-rounds-gc-<%= @golf_course.id %>" class="all-rounds-gc">

</div>

<script id="golf-course-rounds-template" type="text/x-handlebars-template" data-id="<%= current_golfer.id %>">
  <hr><br>
  <table style='width: 65%'>
    <thead>
      <tr>
        <th align="left"><strong>Golfer</strong></th>
        <th align="left"><strong>Score</strong></th>
        <th align="left"><strong>Over/Under</strong></th>
        <th align="left"><strong>Date Posted</strong></th>
      </tr>
    </thead>

    <tbody>
      {{#each rounds}}
        <tr>
         <td><a href="/golfers/{{golfer_id}}">{{golfer_name}}</a></td>
          <td>{{score}}</td>
          <td>{{display_from_par}}</td>
          <td>{{created_at_simple}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <br>
</script>

<script id="gc-show-round-template" type="text/x-handlebars-template" data-id="<%= @golf_course.id %>">
  <hr><br>
  <table style='width: 65%'>
    <thead>
      <tr>
        <th align="left"><strong>Golfer</strong></th>
        <th align="left"><strong>Score</strong></th>
        <th align="left"><strong>Over/Under</strong></th>
        <th align="left"><strong>Date Posted</strong></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>{{golfer_name}}</td>
        <td>{{score}}</td>
        <td>{{display_from_par}}</td>
        <td>{{created_at_simple}}</td>
      </tr>
    </tbody>
  </table>
  <br>
</script>

<script id="gc-show-comment-template" type="text/x-handlebars-template" data-id="<%= current_golfer.id %>">

</script>
