<p id="notice"><%= notice %></p>
<h1><%= @golf_course.name %></h1><br>

<% if current_golfer.rounds.any? %>
  <h4>Your Course Handicap, <%= current_golfer.name %>: <%= current_golfer.course_handicap(@golf_course).round(1) %></h4><br>
<% end %>

<div>
  <h4>Course Description:</h4>
  <p><%= @golf_course.description %></p>
</div><br>

<div class='tags-list'>
  <ul>
    <% @golf_course.tags.each do |tag|%>
      <li><%= tag.name %></li>
    <% end %>
  </ul>
</div><br>

<div>
  <h4>Course Details:</h4>

  <p>Holes: <%= @golf_course.holes %></p>
  <p>Total Par: <%= @golf_course.total_par %></p>
  <p>Course Slope: <%= @golf_course.course_slope %></p>
  <p>Course rating: <%= @golf_course.course_rating %></p>
  <% if @golf_course.rounds.present? %>
    <p>Low Score: <%= @golf_course.course_lowest_round.score %> by <%= @golf_course.course_lowest_round.golfer.name %></p>
  <% end %>
</div><br>

<%= button_to 'Show all Rounds', golf_course_rounds_path(@golf_course), method: 'get' %><br><br>
<%= button_to 'Edit Golf Course', edit_golf_course_path, method: 'get' %><br>
<%= button_to('Delete Golf Course', golf_course_path(@golf_course), method: 'delete') if current_golfer.id == 1 %>
