<p id="notice"><%= notice %></p>
<h1><%= @golf_course.name %></h1><br>

<% if current_golfer.golfer_index %>
  <h4>Your Course Handicap, <%= current_golfer.name %>: <%= current_golfer.course_handicap(@golf_course).round(1) %></h4><br>
<% end %>

<%= render partial: 'golf_course_round', locals: { round: @round, golf_course: @golf_course } %>

<div class="course description">
  <h4>Course Description:</h4>
  <p><%= @golf_course.description %></p>
</div><br>

<% if @golf_course.tags.present? %>
  <div class='tags-list'>
    <ul>
      <% @golf_course.tags.each do |tag|%>
        <li><%= tag.name %></li>
      <% end %>
    </ul>
  </div><br>
<% end %>

<div class="course-details">
  <h4>Course Details:</h4>

  <p>Holes: <%= @golf_course.holes %></p>
  <p>Total Par: <%= @golf_course.total_par %></p>
  <p>Course Slope: <%= @golf_course.course_slope %></p>
  <p>Course rating: <%= @golf_course.course_rating %></p>
  <% if @golf_course.rounds.present? %>
    <p>Low Score: <%= @golf_course.course_lowest_round.score %> by <%= @golf_course.course_lowest_round.golfer.name %></p>
  <% end %>
</div><br>

<%= render partial: 'golf_course_comment', locals: { golf_course_comment: @golf_course_comment, golf_course: @golf_course } %>

<div>
  <% if @golf_course.golf_course_comments.present? %>
    <h4>Comments</h4>
    <ul class="golf-course-comments">
      <% @golf_course.golf_course_comments.each do |comment| %>
        <li><%= comment.content  %>  -  by <%= comment.golfer.name %> on <%= comment.created_at.strftime('%m/%d/%Y') %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<button class="show-rounds" data-id="<%= @golf_course.id %>">Show all Rounds</button><br><br>
<%= button_to 'Edit Golf Course', edit_golf_course_path, method: 'get' %><br>
<%= button_to('Delete Golf Course', golf_course_path(@golf_course), method: 'delete') if current_golfer.id == 1 %>

<ul id="all-rounds-gc-<%= @golf_course.id %>">

</ul>
