<h1>Rounds for, <%= @golfer.name %></h1>

<p id="notice"><%= notice %></p>

<ul>
  <% @golfer.rounds.each do |round| %>
    <li>
      <%= round.golf_course.name %> | score: <%= round.score %> | over/under: <%= round.from_par %> |
      <%= link_to 'edit round', edit_golfer_round_path(@golfer, round) %>
    </li>
  <% end %>
</ul>



<%= link_to 'Enter New Round', new_golfer_round_path(@golfer) %>
