<div class="golfer-info">
  <p id="notice"><%= notice %></p>

  <h1>Golfer Profile for <%= @golfer.name %></h1>
  <hr>
  <h4>Email: <%= @golfer.email %></h4>
  <h4>Index: <%= @golfer.golfer_index if @golfer.golfer_index %></h4>
  <h4>Course Most Played: <%= @golfer.course_most_played if @golfer.rounds.any? %></h4>
  <hr><br>

</div><br>

<button class="btn-primary next-golfer" data-id="<%= @golfer.id %>">Next Golfer</button><br><br>

<div class="golfer-rounds">

  <%= button_to 'Post New Round', new_golfer_round_path(@golfer), class: 'btn-success', method: 'get' if current_golfer == @golfer %>

  <h3>Rounds Posted</h3>

  <table style='width: 70%'>
    <thead>
      <tr>
        <th><strong>Golf Course</strong></th>
        <th><strong>Score</strong></th>
        <th><strong>Over/Under</strong></th>
        <th><strong>Net Score</strong></th>
        <th><strong>Net O/U</strong></th>
        <th><strong>Post Date</strong></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @golfer.rounds.each do |round| %>
        <tr>
          <td><%= link_to round.golf_course.name, golf_course_path(round.golf_course) %></td>
          <td><%= round.score %></td>
          <td><%= round.display_from_par %></td>
          <td><%= round.net_score %></td>
          <td><%= round.display_net_from_par %></td>
          <td><%= round.created_at.strftime('%m/%d/%Y') %></td>
          <td><%= link_to 'edit round', edit_golfer_round_path(@golfer, round) if current_golfer == @golfer %></td>
        </tr>
      <% end %>
    </tbody>
  </table><br>

  <%= button_to "Delete Profile", golfer_path(@golfer), class: "btn-danger", method: 'delete' if current_golfer.id == params[:id].to_i %><br>
</div>

<script id ="golfer-template" type="text/x-handlebars-template">
  <p id="notice"></p>

  <h1>Golfer Profile for {{name}}</h1>
  <hr>
  <h4>Email: {{email}}</h4>
  <h4>Index: {{golfer_index}}</h4>
  <h4>Course Most Played: {{course_most_played}}</h4>
  <hr><br>
</script>

<script id="rounds-template" type="text/x-handlebars-template" data-id="<%= current_golfer.id %>">
  {{#ifequalId id}}
  <div class="golfer-rounds">
  <form class="button_to" method="get" action="/golfers/{{id}}/rounds/new"><input class="btn-success" type="submit" value="Post New Round" /></form>
  {{/ifequalId}}

  <h3>Rounds Posted</h3>

  <table style='width: 70%'>
    <thead>
      <tr>
        <th><strong>Golf Course</strong></th>
        <th><strong>Score</strong></th>
        <th><strong>Over/Under</strong></th>
        <th><strong>Net Score</strong></th>
        <th><strong>Net O/U</strong></th>
        <th><strong>Post Date</strong></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {{#each rounds}}
      <!-- How to refer to the round attritbutes in the handlebars each block? -->
        <tr>
          <td><a href="/golf_courses/{{golf_course_id}}">{{golf_course_name}}</a></td>
          <td>{{score}}</td>
          <td>{{display_from_par}}</td>
          <td>{{net_score}}</td>
          <td>{{display_net_from_par}}</td>
          <td>{{created_at_simple}}</td>
          {{#ifequalId golfer_id}}
          <td><a href="/golfers/{{golfer_id}}/rounds/{{id}}/edit">edit round</td>
          {{/ifequalId}}
        </tr>
      {{/each}}
    </tbody>
  </table><br>

  {{#ifequalId id}}
  <form class="button_to" method="post" action="/golfers/2">
    <input type="hidden" name="_method" value="delete" />
    <input class="btn-danger" type="submit" value="Delete Profile" />
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </form><br>
  {{/ifequalId}}
</div>
</script>
