<p id="notice"><%= notice %></p>

<h1>Golfer Profile for <%= @golfer.name %> </h1><br>
<h4>Email: <%= @golfer.email %></h4>
<div>
  <h4>Index: <%= @golfer.golfer_index if @golfer.golfer_index %></h4>
  <h4>Course Most Played: <%= @golfer.course_most_played if @golfer.rounds.any? %></h4>

</div>
<br>

<%= button_to 'Post New Round', new_golfer_round_path(@golfer), method: 'get' if current_golfer == @golfer %><br>

<div>
  <h3>Rounds Posted</h3>

  <table style='width: 60%'>
    <thead>
      <tr>
        <th align="left"><strong>Golf Course</strong></th>
        <th align="left"><strong>Score</strong></th>
        <th align="left"><strong>Over/Under</strong></th>
        <th align="left"><strong>Post Date</strong></th>
        <th align="right"></th>
      </tr>
    </thead>

    <tbody>
      <% @golfer.rounds.each do |round| %>
        <tr>
          <td><%= round.golf_course.name %></td>
          <td><%= round.score %></td>
          <td><%= round.display_from_par %></td>
          <td><%= round.created_at.strftime('%m/%d/%Y') %></td>
          <td><%= link_to 'edit round', edit_golfer_round_path(@golfer, round) if current_golfer == @golfer %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div><br>

<%= button_to "Delete Profile", golfer_path(@golfer), method: 'delete' if current_golfer.id == params[:id].to_i %>
