<div class="golfer-info">
  <p id="notice"><%= notice %></p>

  <h1>Golfer Profile for <%= @golfer.name %></h1>
  <hr>
  <h4>Email: <%= @golfer.email %></h4>
  <h4>Index: <%= @golfer.golfer_index if @golfer.golfer_index %></h4>
  <h4>Course Most Played: <%= @golfer.course_most_played if @golfer.rounds.any? %></h4>

  <hr><br>
</div>

  <button class="btn-primary next-golfer" data-id="<%= @golfer.id %>">Next Golfer</button><br><br>

  <%= button_to 'Post New Round', new_golfer_round_path(@golfer), class: 'btn-success', method: 'get' if current_golfer == @golfer %>


<div class="golfer-rounds">
  <h3>Rounds Posted</h3>

  <table style='width: 70%'>
    <thead>
      <tr>
        <th><strong>Golf Course</strong></th>
        <th><strong>Score</strong></th>
        <th><strong>Over/Under</strong></th>
        <th><strong>Net Score</strong></th>
        <th><strong>Net O/U</strong></th>
        <th><strong>Post Date</strong></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @golfer.rounds.each do |round| %>
        <tr>
          <td><%= link_to round.golf_course.name, golf_course_path(round.golf_course) %></td>
          <td><%= round.score %></td>
          <td><%= round.display_from_par %></td>
          <td><%= round.net_score %></td>
          <td><%= round.display_net_from_par %></td>
          <td><%= round.created_at.strftime('%m/%d/%Y') %></td>
          <td><%= link_to 'edit round', edit_golfer_round_path(@golfer, round) if current_golfer == @golfer %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div><br>

<%= button_to "Delete Profile", golfer_path(@golfer), class: "btn-danger", method: 'delete' if current_golfer.id == params[:id].to_i %><br>

<script id ="golfer-template" type="text/x-handlebars-template">
  <p id="notice"></p>

  <h1>Golfer Profile for {{name}}</h1>
  <hr>
  <h4>Email: {{email}}</h4>
  <h4>Index: {{golfer_index}}</h4>
  <h4>Course Most Played: {{course_most_played}}</h4>

  <hr><br>

</script>
