<p id="notice"><%= notice %></p>
<h1>Your Round at <%= @round.golf_course.name %> </h1>

<h4>Score: <%= @round.score %></h4>

# Fix Later!!!!

<h4>Course Description:</h4>
<p><%= @round.golf_course.description %></p><br><br>

<h4>Course Details:</h4>

<p>Holes: <%= @round.golf_course.holes %></p>
<p>Par: <%= @round.golf_course.total_par %></p>
<p>Course Slope: <%= @round.golf_course.course_slope %></p>
<p>Course Rating: <%= @round.golf_course.course_rating %></p><br><br>

<%= link_to 'Edit Round', edit_golfer_round_path(@round.golfer, @round) %>
<%= button_to 'Delete Round', golfer_round_path(@round.golfer, @round), :method => 'delete' %>
