<p id="notice"><%= notice %></p>
<h1>Posted Round at <%= @round.golf_course.name %> </h1><br>

<div>
  <h3>Golfer: <%= @round.golfer.name %></h3>
  <h3>Score: <%= @round.score %></h3>
  <h4>Over/Under: <%= @round.display_from_par %></h4>
  <% if @round.golfer.golfer_index %>
    <h4>Net from Par: <%= @round.display_net_from_par %></h4>
  <% else %>
    <h4>Your handicap will be established after 2 rounds</h4>
  <% end %>
</div><br>

<div>
  <h4>Course Description:</h4>
  <p><%= @round.golf_course.description %></p>
</div>

<div class='tags-list'>
  <ul>
    <% @round.golf_course.tags.each do |tag|%>
      <li><%= tag.name %></li>
    <% end %>
  </ul>
</div><br>

<div>
  <h4>Course Details:</h4>
  <p>Course Name: <%= link_to @round.golf_course.name, golf_course_path(@round.golf_course) %> </p>
  <p>Holes: <%= @round.golf_course.holes %></p>
  <p>Par: <%= @round.golf_course.total_par %></p>
  <p>Course Slope: <%= @round.golf_course.course_slope %></p>
  <p>Course Rating: <%= @round.golf_course.course_rating %></p>
</div>

<div>
  <% if @round.golf_course.golf_course_comments.present? %>
    <h4>Comments</h4>
    <% @round.golf_course.golf_course_comments.each do |comment| %>
      <ul>
        <li><%= comment.content %> -  by <%= comment.golfer.name %> on <%= comment.created_at.strftime('%m/%d/%Y') %></li>
      </ul>
    <% end %>
  <% end %>
</div>


<%= button_to 'Edit Round', edit_golfer_round_path(@round.golfer, @round), :method => 'get' %><br>
<%= button_to 'Delete Round', golfer_round_path(@round.golfer, @round), :method => 'delete' %>
