<p id="notice"><%= notice %></p>
<h1>Posted Round at <%= @round.golf_course.name %> </h1><br>

<div>
  <h3>Golfer: <%= @round.golfer.name %></h3>
  <h3>Score: <%= @round.score %></h3>
  <h4>Over/Under: <%= @round.display_from_par %></h4>
</div><br>

<div>
  <h4>Course Description:</h4>
  <p><%= @round.golf_course.description %></p>
</div>

<div>
  <h4>Course Details:</h4>
  <p>Course Name: <%= @round.golf_course.name %> </p>
  <p>Holes: <%= @round.golf_course.holes %></p>
  <p>Par: <%= @round.golf_course.total_par %></p>
  <p>Course Slope: <%= @round.golf_course.course_slope %></p>
  <p>Course Rating: <%= @round.golf_course.course_rating %></p>
</div>


<%= button_to 'Edit Round', edit_golfer_round_path(@round.golfer, @round), :method => 'get' %><br>
<%= button_to 'Delete Round', golfer_round_path(@round.golfer, @round), :method => 'delete' %>
