<!DOCTYPE html>
<html>
  <head>
    <title>Golf Handicapper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"></link>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <%= render '/layouts/navbar' %>

    <div class="spacer">
    </div>

    <div class="container"  role="main">

      <%= yield %>

    </div>

  </body>
</html>
