<!DOCTYPE html>
<html>
  <head>
    <title>Golf Handicapper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"></link>
  </head>

  <body>
    <div class="spacer">
    </div>

    <%= render '/layouts/navbar' %>

    <%= yield %>

    <div class="home-pic">
      <%= image_tag('Cypress-Point-15-water.jpg', class: 'home-pic-img') %>
    </div>

  </body>
</html>
